:root {
    --maincolor: #fff;
    --subcolor: #238cdd;
    --hovercolor: #165a8e;
    --bordervalue: 1px solid rgba(0, 0, 0, 0.8);
}


body {
    background-color: var(--maincolor);
    margin: 0px;
}

.nav {
    background-color: var(--subcolor);
    border-bottom: var(--bordervalue);
    padding: 19px;
    font-size: 20px;
    text-align: center;
}

.navitem {
    border-left: var(--bordervalue);
    border-right: var(--bordervalue);
    padding: 20px;
}
.navitem:hover {
    background-color: var(--hovercolor);
}

.gridview {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: var(--maincolor);
    padding: 10px;
}

.griditem {
    background-color: var(--subcolor);
    border: var(--bordervalue);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    margin: 50px;
    height: 50%;
    
}
    .griditem:hover {
        background-color: var(--hovercolor);
    }

.returnhome {
    height: 50px;
    width: 92%;
    margin-left: 4%;
    background-color: var(--subcolor);
    border: var(--bordervalue);
}
    .returnhome:hover {
        background-color: var(--hovercolor);
    }